@import url("./sanitize.css");
    body{
    
        background-image: url("../img/index/index_back.jpg");
        background-color: rgb(103, 212, 239);
    }
    div.title{
        display: flex;
    }
    
    h2{
        /* background-color: rgb(17, 20, 20); */
        text-align: center; 
        color: rgb(16, 179, 208);
        margin-top: 30px;
        width: 100%;
        animation-name: fade_down_title;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
  
@keyframes fade_down_title{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
    }
}
    a:hover{
        color: red;
    }
    a{
        font-size: 20px;
        color: blueviolet;
        font-weight: bold;
    }

    ul{
    
        text-align: center;
        list-style-type: none;
        animation-name: fade_left_link;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    @keyframes fade_left_link{
        from{
            opacity: 0;
            transform: translateX(100px);
        }
        to{
            opacity: 1;
        }
    }
    .introduction{
        display: flex;
        justify-content: center;
    }
    img.stpr_colon{
        display: block;
        width: 18%;
        height: auto;
        margin-bottom: 3%;
        animation-name: fade_right_colon_img;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
@keyframes fade_right_colon_img{
        from{
            opacity: 0;
            transform: translateX(-100px);
        }
        to{
            opacity: 1;
        }
}
img.ichigono_oji_store{
    display: block;
    width: 18%;
    height: auto;
    position:fixed;
    right: 36%;
    bottom: auto;
    animation-name: fade_right_ichigono_oji_store;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
img.ichigono_oji_store:hover{
    border: 1px solid rgb(253, 190, 201);   
}
@keyframes fade_right_ichigono_oji_store{
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
    }
}
a{
    font-size: 130%;
    font-weight: bold;
}
svg.hert_left{
    fill: rgb(251, 141, 234);
    width: 7%;
    height: auto;
    position: absolute;
    left: 20%;
    top: 2%;
    transform: rotate(-30deg);
    animation-name: fade_in_right_hert;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fade_in_right_hert{
    from{
        opacity: 0;
        transform: translate(-300px);
    }
    to{
        opacity: 1;
    }
}

svg.hert_right{
    fill: rgb(251, 141, 234);
    width: 7%;
    height: auto;
    position: absolute;
    right: 20%;
    top: 2%;
    transform: rotate(-30deg);
    animation-name: fade_in_left_hert;
    animation-delay: .5s;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fade_in_left_hert{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
svg.cloud_left{
    width: 9%;
    height: auto;
    fill: rgb(12, 107, 191);
    position: absolute;
    left: 9%;
    top: 2%;
    animation-name: fade_in_left_cloud;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes fade_in_left_cloud{
    from{
        opacity: 0;
        transform: translate(-300px);
    }
    to{
        opacity: 1;
    }
}

svg.cloud_right{
    width: 9%;
    height: auto;
    position: absolute;
    right: 9%;
    top: 2%;
    animation-name: fade_in_right_cloud;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    opacity: 0; 
}

@keyframes fade_in_right_cloud{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*4K---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:2700px){
    h2{
        /* background-color:black ; */
        font-size: 250%;
        margin-bottom: 8%;
    }
    img.stpr_colon{
        width: 12%;
        height: auto;
        margin-right:10% ;
    }
    img.ichigono_oji_store{
        width: 12%;
        height: auto;
        position: fixed;
        right: 40%;
        bottom: auto;
    }
    .introduction{
        font-size: 150%;
    }
}
/*LaptopL---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:1925px) {/*BreakPoint max-width 1925 min-width 1766 */
    h2{
        /* background-color:aqua; */
        font-size: 240%;
        text-align: center;
        color: rgb(16, 179, 208);
        margin-top: 30px;
        margin-bottom: 5%;
        width: 100%;
    }
    img.stpr_colon{
        width: 12%;
        height: auto;
        margin-right:6% ;
    }
    img.ichigono_oji_store{
        width: 12%;
        height: auto;
        position: fixed;
        right: 43%;
        bottom: auto;
    }
    a{
        font-size: 140%;
    }
    svg.hert_left{
        width: 7%;
        height: auto;
        left: 20%;
    }
    svg.hert_right{
        width: 7%;
        height: auto;
        right: 20%;
    }
    
}
/*Laptop---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:1200px) {/*BreakPoint max-width 1200 min-width 900 */
    h2{
        font-size: 200%;
        /* background-color:blue; */
        text-align: center;
        color: rgb(16, 179, 208);
        margin-top: 30px;
        margin-bottom: 8%;
        width: 100%;
    }

    img.stpr_colon{
        width: 15%;
        height: auto;
    }
    img.ichigono_oji_store{
        width: 15%;
        height: auto;
        position: fixed;
        right: 40%;
        bottom: auto;
        /* border: 1px solid red; */
    }
    svg.cloud{
        right: 62%;
    }
}
/*Tablet---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:834px) {/*BreakPoint max-834 min-600  */
    h2{
        /* background-color: orange; */
        /* color: red; */
        color: rgb(16, 179, 208);
        font-size: 27px;
        width: 100%;
    }
    img.stpr_colon{
        width: 25%;
        height: auto;
        margin-left: 10px;

    }
    img.ichigono_oji_store{
        margin-top: 10%;
        width: 25%;
        height: auto;
        position: fixed;
        right: 30%;
        bottom: auto;
        /* border: 1px solid red; */
    }
    svg.hert_left{
        width: 10%;
        height: auto;
        left: 13%;
    }
    svg.hert_right{
        width: 10%;
        height: auto;
        right: 13%;
    }
      
    a{
        font-size: 22px;
        font-weight: bold;
        color: blueviolet;
    }
    .container{
        margin-top: 2%;
        overflow-x: hidden;
        overflow-y: hidden;
    } 
}   
    svg.cloud_right{
        right: 2%;
    }
    svg.cloud_left{
        left: 2%;
    }
/* 
*{ 
    outline: 1px solid red;
}
*/
/*mobile---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:425px) {/* BreakPoint max-412 min-370 */
    h2{
        /* background-color: blueviolet; */
        /* color: red; */
        font-size: 105%;
        margin-bottom: 20%;
        width: 100%;
    }
    svg.hert_left{
        width: 14%;
        height: auto;
        left: 10%;
    }
    svg.hert_right{
        width: 14%;
        height: auto;
        right: 9%;
    }
    img.stpr_colon{
        width: 36%;
        height: auto;
        margin-top: 11%;
        margin-left: 10px;
    }
    img.ichigono_oji_store{
        width: 36%;
        height: auto;
        position: fixed;
        right: 16%;
        bottom: auto;
    }
        
    a{
        font-size: 66%;

    }
    .container{
        margin-top: 5%;
        margin-bottom: 1px;
    } 
}