h2,h3{
    text-align: center;
}
body{
    background-image: url("../img/loveFF/loveFF_back.jpg");
    background-size: 100% auto;
}
h2{
    /* background-color: red; */
    width: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
    color: rgb(12, 196, 196);
    font-weight: bold;
    animation-name: fade_in_title;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fade_in_title{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
h3{
    /* background-color: blue; */
    margin-top: 2%;
    margin-bottom: 3%;
    color: rgb(12, 196, 196);
    font-weight: bold;
}
th{
    text-align: center;
}
li{
    /* border: 1px solid blue; */
    font-size: 110%;
    font-weight: bold;
    list-style-type: none;
    text-indent: 10px;
    color: rgb(7, 194, 241);
}
li::before{
    content: "👑";
}

.Stable{
    margin-bottom: 3%;
    animation-name: fade_right_Stable;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fade_right_Stable{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
    }
}
.Love{
    margin-bottom: 3%;
    animation-name: fade_right_love;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fade_right_love{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
    }
}
.Like_to_more{
    margin-bottom: 3%;
    padding-left: 4%;
    animation-name: fade_right_love_to_more;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fade_right_love_to_more{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
    }
}
.Stable,.Love,.Like_to_more{
    border: 5px double rgb(15, 191, 235);
}
.page_top{
    display: block;
    right: 1%;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 9px;
    margin-top: 17%;
    text-align: center;
    letter-spacing: -1px;
    font-size: 75%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: absolute;
    height: 80px;
    line-height: auto;
    width: 80px;
    opacity: 0.6;
    background-color: rgb(126, 240, 240);
    border-radius: 70px;
    position: absolute;
    right: 1%;
    animation-name: fade_left_page_top;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fade_left_page_top{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
    }
}

.page_top::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 10%;
    height: 10%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
    
}
.container{
    margin-top: 5%;
    margin-bottom: 1px;
    overflow: hidden;
} 
 
/* *{ 
    outline: 1px solid red;
}
*/
/*LaptopL---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:1925px) {/*BreakPoint max-width 1925 min-width 1766 */
    h2{
         /* background-color:aqua;  */
        font-size: 240%;
        text-align: center;
        color: rgb(12, 196, 196);
        margin-top: 30px;
        margin-bottom: 5%;
        width: 100%;
    }
    img.stpr_colon{
        width: 12%;
        height: auto;
        margin-right:6% ;
    }
    img.ichigono_oji_store{
        width: 12%;
        height: auto;
        position: fixed;
        right: 43%;
        bottom: auto;
    }
    a{
        font-size: 140%;
    }
    
}
@media screen and (max-width:1200px) {/*BreakPoint max-width 1200 min-width 900 */
    h2{
        font-size: 220%;
         /* background-color:red;  */
        text-align: center;
        color: rgb(12, 196, 196);
        margin-top: 30px;
        margin-bottom: 8%;
        width: 100%;
    }

    img.stpr_colon{
        width: 15%;
        height: auto;
    }
    img.ichigono_oji_store{
        width: 15%;
        height: auto;
        position: fixed;
        right: 40%;
        bottom: auto;
        /* border: 1px solid red; */
    }

}
/*Tablet---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:834px) {/*BreakPoint max-834 min-600  */
    h2{
         /* background-color: orange;  */
        /* color: red; */
        font-size: 27px;
        width: 100%;
    }
    img.stpr_colon{
        width: 25%;
        height: auto;
        margin-left: 10px;

    }
    img.ichigono_oji_store{
        width: 25%;
        height: auto;
        position: fixed;
        right: 30%;
        bottom: auto;
        /* border: 1px solid red; */
    }
      
    a{
        font-size: 22px;
        font-weight: bold;
    }
    .container{
        margin-top: 2%;
        max-width: 100%;
    } 
}
/*mobile---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:425px) {/* BreakPoint max-412 min-370 */
    h2{
        /* background-color: blueviolet; */
        /* color: red; */
        font-size: 140%;
        margin-bottom: 10%;
        width: 100%;
    }
    h3{
        font-size: 115%;
    }
    img.stpr_colon{
        width: 36%;
        height: auto;
        margin-top: 11%;
        margin-left: 10px;
    }
    img.ichigono_oji_store{
        width: 36%;
        height: auto;
        position: fixed;
        right: 16%;
        bottom: auto;
    }
    a{
        font-size: 66%;

    }
    li{
        font-size: 77%;
    }
    .container{
        margin-top: 5%;
        margin-bottom: 1px;
        overflow-x: hidden;
    } 
    .page_top{
        font-size: 110%;
    }
}